<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main">
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@akidzon.com">contact@akidzon.com</a>
        <i class="icofont-phone"></i> +1 800-akidzon
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(${static.url('images/slide/1.png')})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Akidzon</span></h2>
              <p class="animate__animated animate__fadeInUp">Akidzon provides the self-paced learning experience for kids from pre-k to 12th grade. <br>
                          It utilized high technology to enhance online teaching and learning experience</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(${static.url('images/slide/3.png')})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Akidzon's Vision</h2>
              <p class="animate__animated animate__fadeInUp">To be the most child-centric online education platform where your child enjoys the learning and builds up a strong knowledge for their future success.</p>
              <a href="#akidzon-vision" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(${static.url('images/slide/2.png')})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Enrollment is Open</h2>
              <p class="animate__animated animate__fadeInUp">Start giving your child access to the academic advantage in today’s competitive world.</p>
              <a href="/register?next=/" class="btn-get-started animate__animated animate__fadeInUp scrollto">Enroll Now</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->


    <!-- ======= Featured Services Section ======= -->
    <section id="akidzon-features" class="featured-services section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Features</h2>
          <p>Akidzon helps your child build up a lifetime of math, reading and science success leading to their advance in their bright future.</p>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="icofont-waiter"></i></div>
              <h4 class="title"><a href="">What we offer</a></h4>
              <p class="description">Akidzon is self-paced online learning portal with comprehensive K-12 curriculums. Whether you are a teacher, parent or home schooler, you will find the resource helpful for you.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="icofont-architecture"></i></div>
              <h4 class="title"><a href="">Personalized and Adjustable</a></h4>
              <p class="description">Akidzon is personalized learning and the difficult of the question is adjusted based on questions have been answered.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="icofont-graduate"></i></div>
              <h4 class="title"><a href="">Goal Driven</a></h4>
              <p class="description">A goal can be set by the teacher/parent, a customized learning path will be suggested and adjusted accordingly as your child goes on.</p>
            </div>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="icofont-clock-time"></i></div>
              <h4 class="title"><a href="">Real-Time Diagnostic</a></h4>
              <p class="description">Akidzon gives real time grading and diagnostic about what your child knows and what need to be improved.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="icofont-pen-alt-4"></i></div>
              <h4 class="title"><a href="">Unlimited Practice</a></h4>
              <p class="description">You child can choose different ways to practice the same concept and build a strong foundation of knowledge.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="icofont-globe"></i></div>
              <h4 class="title"><a href="">Accessible Everywhere</a></h4>
              <p class="description">Whether you are at home or school, even when you are traveling, you can learn on Akidzon.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="akidzon-about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About Us</h2>
          <p>Akidzon provides the self-paced learning experience for kids from prek to 12th grade. <br>
                      It utilized high technology to enhance teaching and learning online</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="${static.url('images/about.png')}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Empower learners and instructors.</h3>
            <ul>
              <li><i class="icofont-check-circled"></i> Interactive forums and discussion boards.</li>
              <li><i class="icofont-check-circled"></i> Advanced learner and Instructor dashboards.</li>
              <li><i class="icofont-check-circled"></i> Works on any device, you can access Akidzon using your phone, pad or computer.</li>
              <li><i class="icofont-check-circled"></i> No matter what academic level, your child can progress through the individualized instruction at his or her own pace – advancing step by logical step.</li>
              <li><i class="icofont-check-circled"></i> Our on-line learning platform can help you and your kids to reach the goal in an immersive and enjoyable way. We help to accelerate your child’s learning from pre-k to 12th grade. </li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="akidzon-vision" class="why-us">
      <div class="container">
        <div class="section-title">
          <h2>Our Vision</h2>
          <p>Akidzon was created by a dad, who wanted the best for his children. Akidzon helps your child’s learning experience no matter which grade he/she is in.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-6 col-md-6 content-item">
            <span>01</span>
            <h4>Child Centric</h4>
            <p>To be the most child-centric online education platform where they can enjoy the learning experience and build up a strong knowledge for their future success.</p>
          </div>

          <div class="col-lg-6 col-md-6 content-item">
            <span>02</span>
            <h4>Better Education</h4>
            <p>Every child deserves a better education. And we are here to provide access to a better education in one click.</p>
          </div>

          <div class="col-lg-6 col-md-6 content-item">
            <span>03</span>
            <h4>Serve the Community</h4>
            <p>It's our responsibilities to serve the our community (families and schools) with better education tools.</p>
          </div>

          <div class="col-lg-6 col-md-6 content-item">
            <span>04</span>
            <h4>Solving Real Problems</h4>
            <p>It's our responsibilities to serve the our community (families and schools) with better education tools.</p>
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Our Partners</h2>
          <p>We are partnering with the cutting edge technology companies to provide the best service to you.</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="${static.url('images/partners/partner-1.png')}" alt="">
          <img src="${static.url('images/partners/partner-2.png')}" alt="">
          <img src="${static.url('images/partners/partner-3.png')}" alt="">
          <img src="${static.url('images/partners/partner-4.png')}" alt="">
          <img src="${static.url('images/partners/partner-5.png')}" alt="">
          <img src="${static.url('images/partners/partner-6.png')}" alt="">
        </div>

      </div>
    </section><!-- End Our Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="akidzon-services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>We are providing learning materials on thousands skills</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class='bx bxs-graduation'></i>
              </div>
              <h4><a href="">Comprehensive Curriculums</a></h4>
              <p>You can find leanring and practice materials on thousands of different topic on Akidzon.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-file"></i>
              </div>
              <h4><a href="">Personalized Guidance</a></h4>
              <p>We will recommand the cirriculum to you based on your assessments</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="icofont-computer"></i>
              </div>
              <h4><a href="">AI-Based Analytics</a></h4>
              <p>We are using AI technology to analyze the performance of your kids and evaluate the hand-writen answers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="akidzon-contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>100 North Tryon Street, Charlotte, NC 28202</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>contact@akidzon.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 800-akidzon</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.155136784202!2d-80.84452364886164!3d35.227507962231556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a02572165b1f%3A0x973fdbada97f7802!2s100%20N%20Tryon%20St%2C%20Charlotte%2C%20NC%2028202!5e0!3m2!1sen!2sus!4v1592605318990!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="${static.url('forms/contact.php')}" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <!-- Template Main JS File -->
  <script src="${static.url('js/main.js')}"></script>

  <%block name="js_extra">
     <script type="text/javascript">
        $(window).load(function() {
           if(getParameterByName('next')) {
                $('#login').trigger("click");
           }
        })
     </script>
  </%block>

  % if show_signup_immediately is not UNDEFINED:
    ## NOTE: This won't work in production, because anonymous views are cached, so it will
    ## show either with or without this extra js for 3 minutes at a time.
  <script type="text/javascript">
    $(window).load(function() {$('#signup_action').trigger("click");});
  </script>
  % endif
